.logo{
    width: 300px;
}
.buy-cart{
    width: 20px;
}
.hero-img{
    width: 100%;
}
.hero-title{}
.hero-title span{
    display: block;
}
.product-img{
    width: 90px;
}
.main-contain-revers{
    flex-direction: column-reverse;
}
